* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    /* max-width: 1246px; */
    
}
.all_nav {
display: flex;
justify-content: space-between;
max-width: 1246px; 
margin: auto;

}
.left_nav_container {
    /* border: 2px solid rebeccapurple; */
    display: flex;
    margin-top: 61px;
margin-bottom: 84px;


}
.logo_T {
   
    background: #458FF6;
    /* margin-left: 191px; */
    padding-top: 2px;
    width: 40px;
    text-align: center;
    color: white;
font-weight:bolder;
font-size: 26px;
line-height: 33px;
 border-radius: 40px 40px 40px 40px
 
 
    ;
}
.left_nav {

    margin-left: 2px;
    padding-top: 1px;
    font-family: 'mulish'
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    
    color: #233348;
    
}
.right_nav_container {
margin-top: 70px;
  
  

}
.unordered_list {
    display:flex;
    list-style-type: none;
   

}
.home {

    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
  
    color: #1F1534;
    /* border: 2px solid blue; */
    margin-left: 40px;
}
.find_a_doctor {
    left: 59.62%;
    right: 33.5%;
    top: 1.19%;
    bottom: 98.42%;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    /* 1f1534-hyfen */
    color: #1F1534;
    /* border: 2px solid green; */
    
    opacity: 0.5;
    margin-left: 40px;
}
.apps {
    left: 69%;
right: 28.25%;
top: 1.19%;
bottom: 98.42%;

font-family: Mulish;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
/* identical to box height */

/* 1f1534-hyfen */
color: #1F1534;
/* border: 2px solid red; */
opacity: 0.5;
margin-left: 40px;
}
.testimonials {
    left: 74.25%;
    right: 19.25%;
    top: 1.19%;
    bottom: 98.42%;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    /* 1f1534-hyfen */
    color: #1F1534;
    /* border: 2px solid gray; */
    opacity: 0.5;
    margin-left: 40px;
}
.about_us {
    left: 83.25%;
    right: 12%;
    top: 1.19%;
    bottom: 98.42%;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    /* 1f1534-hyfen */
    color: #1F1534;
    /* border: 2px solid hotpink; */
    opacity: 0.5;
    margin-left: 40px;
}

/* first section*/

.first_section {
    display: flex;
    justify-content: space-between;
    max-width: 1246px;
    margin: auto;
    align-items: center;
    width: 100%;
    /* border: 2px solid blue; */
    margin-bottom: 192px;
}
.virtual_healthcare_container {
/* border: 2px solid red; */
margin-right: 109px;


}
.Virtual_healthcare {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000; 
    height: 112px;
    width: 427px;
    margin-bottom: 25px;
 
}
.Virtual_healthcare_p {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    height: 96px;
    width: 445px;
    margin-bottom: 45px;

}
.consult_button {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #FFFFFF;
    height: 56px;
width: 200px;
border-radius: 55px;
border-style: none;
background-color: #458FF6;

}


/* Second Header */
.second_section {
    max-width: 1246px;
    margin: auto;
}

.our_service {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: #000000;
    /* border: 2px solid black; */
    text-align: center;
    height: 66px;
    margin-bottom: 26px;
}
.horizontal_rule_one{
    background: #000000;
    border-radius: 5px;
    width: 56px;
    margin: auto;
    margin-bottom: 33px;


}
.our_service_p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #7D7987;
    width: 952px;
    margin: auto;
    margin-bottom: 80px;
}

/* GRID */

.all_grid_container {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-row-gap: 37px;
grid-column-gap: 36px;
max-width: 1246px;
width: 100%;
margin: auto;
}
.grid {
    /* border: 2px solid black; */
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    max-width: 1050px;
    width: 350px;
    height: 354px;
    margin: auto;
    margin-bottom: 69px;
}
.h1 {
    font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 56px;
color: #000000;
margin: 0px 151px 1px 39px;
width: 205px;
height: 56px;
}
.p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
    width: 266px;
    height: 84px;
    margin: 0px 52px 47px 39px;
}
.img1 {
    margin: 54px 221px 22.41px 37px;
    
}
.img2 {
    width: 62px;
    margin: 62px 251.44px 19.41px 37px;
}
.img3 {
width: 59px;
margin: 51px 249px 24px 30px;
}
.img4 {
width: 60px;
margin: 46px 243px 25.48px 39.6px
}
.img5 {
width: 80px;
margin: 59px 230px 36px 40px;
}
.img6 {
width: 69px;
margin: 52px 242px 19.3px 38px;
}
.learn_more {
    background-color: white;
border: 1.4px solid #458FF6;
box-sizing: border-box;
border-radius: 55px;
Width: 200px;
Height: 56px;
margin: auto;
text-align: center;
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 60px;
color: #458FF6;

}
/* .hero-image 
    background: url(./image/background\ image.png) left top no-repeat center; 
    background: linear-gradient(175.68deg, #F3F7FF -10.48%, #DEEEFE 92.66%) left top;


} */

/* SECTION 3 */

.third_section {
    display: flex;
    justify-content: space-between;
    max-width: 1246px;
    margin: auto;
    align-items: center;
    width: 100%;
    margin-top: 221px;
    /* border: 2px solid blue; */
    /* margin-bottom: 192px; */
}
/* .image_2 {
    margin-top: 221px;
} */
.Leading_healthcare_providers_container {
    margin-left: 142px;
    /* margin-top: 278px; */
}
.Leading_healthcare_providers {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000; 
    height: 112px;
    width: 481px;
    margin-bottom: 25px;
}

.Leading_healthcare_providers_p {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    height: 120px;
    width: 450px;
    margin-bottom: 45px;
}

/* FOURTH SECTION */

.fourth_section {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: auto;
    align-items: center;
    width: 100%;
    margin-top: 221px;
}
.Download_mobile_apps_container {

}
.Download_mobile_apps {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000; 
    height: 112px;
    width: 481px;
    margin-bottom: 25px;
}
.Download_mobile_apps_p {
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
    height: 120px;
    width: 450px;
    margin-bottom: 45px;
}
.download_button {
    background-color: white;
    border: 1.4px solid #458FF6;
    box-sizing: border-box;
    border-radius: 55px;
    Width: 200px;
    Height: 56px;
    margin: auto;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 60px;
    color: #458FF6;
}
.hr_image {
    background: #000000;
border-radius: 10px;
width: 56px;
height: 2px;
margin-bottom: 31px;
/* border: 2px solid black; */
}

/* FIFTY SECTION */

.fifty_section {
    max-width: 1100px; 
    margin: auto;
    margin-top: 266px;
}
.review_section {
    border: 2px solid #67C3F3;
    width: 1120px;
    height: 425px;
    background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
    border-radius: 24px;
}
.what_customer_saying {
    /* border: 2px solid black; */
    Width: 530px;
    Height: 48px;
    font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 48px;
color: #FFFFFF;
margin: auto;
margin-top: 64px;
}
.horizontal_rule_two {
    background:#FFFFFF;
    border-radius: 5px;
    width: 56px;
    margin: auto;
    margin-top: 25px;

}
.reviewer_and_review_container {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
   margin-top: 77px;
}
.img_name_position_container {
    margin: auto;
    /* border: 2px solid yellow; */
    display: flex;
    width: 400px;
    /* justify-content: space-between; */
  
}
.Edward_Newgate {
    border: 5px solid #FFFFFF;
    border-radius: 70px;
}
.name_and_position_container {
margin: auto;
    /* border: 2px solid red; */
    /* margin-left: 2px; */
    height: 80px;
    
    /* display: flex; */
}
.name {
    /* border: 2px solid black; */
    font-style: normal;
font-weight: bold;
font-size: 22px;
line-height: 48px;
color: #FFFFFF;
Width: 200px;
Height: 40px;

}
.postion {
    /* border: 2px solid black; */
    font-style: normal;
    Width: 150px;
Height: 40px;
font-weight: normal;
font-size: 18px;
line-height: 48px;
color: rgba(255, 255, 255, 0.85);

}
.review {
    /* border: 2px solid black; */
    font-style: normal;
font-weight: normal;
font-size: 19px;
line-height: 30px;
color: rgba(255, 255, 255, 0.9);
Width: 420px;
Height: 120px;
margin: auto;

}

/* SLIDER */

.scroll_buttons {
    /* border: 2px solid black;  */
    display: flex;
    justify-content: space-between;
    width: 278px;
    height: 20px;
    margin: auto;
    margin-top: 42px;
}

/* LAST SECTION */

.last_section {
    margin-top: 227px;

    /* border: 4px solid purple; */

}
.last_article {
 /* border: 2px solid black; */
 text-align: center;
 margin-bottom: 26px;
}
.article_grid {
    max-width: 1145px;
 /* border: 2px solid blue; */
 margin: auto;
 margin-top: 72px;
 margin-bottom: 69px;
 display: flex;
 justify-content: space-between;
 /* background: burlywood; */
 
  
}
.grid_container1 {
    width: 350px;
    height: 512px;
/* border: 2px solid red; */


}

.grid_container2 {
    width: 350px;
    height: 512px;
    /* border: 2px solid black; */

    
 

}

.grid_container3 {
    width: 350px;
    height: 512px;
    /* border: 2px solid white; */

   
}

.grid_img { 
    width: 350px;
    height: 240px;
    background: #FFFFFF;
border-radius: 20px 20px 0px 0px;
margin-bottom: 24px;
}

.disease_h1 {
    width: 270px;
    height: 64px;
    /* border: 2px solid black; */
    font-style: normal;
font-weight: bold;
font-size: 21px;
line-height: 32px;
color: #000000;
margin: auto;

}

.herbal_h1 {
    width: 265px;
    height: 64px;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    /* or 152% */
    
    color: #000000;
    
}
.natural_h1 {
    width: 245px;
    height: 64px;
    margin: auto;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 32px;
    
    color: #000000;
    
}

.grid_p {
    width: 266px;
    height: 84px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    margin: auto;
    margin-bottom: 25px;
    
    color: #7D7987;
}
.grid_readmore {
    width: 266px;
    height: 28px;
    margin: auto;
    font-style: normal;
    /* font-weight: 600; */
    font-size: 17px;
    line-height: 28px;
    
    color: #4089ED;
}

.view_all {
    width: 200px;
    height: 56px;
    border: 1.4px solid #458FF6;
    /* box-sizing: border-box; */
    border-radius: 55px;
    background: #FFFFFF;
    font-style: normal;
font-size: 18px;
line-height: 60px;
color: #458FF6;
margin-left: 600px;
margin-bottom: 202px;
/* justify-content: center; */
}

/* footer */
.footer_section {
max-width: 1246px;
width: 100%;
height: 432px;
margin: auto;
/* margin-bottom: 118px; */
background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);

}
.footer_logo {
display: flex;
height: 41px;
margin-right: 10px;
}

.footer_container {
    width: 100%;
    /* border: 2px solid red; */
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    margin-top: 118px;
    margin-bottom: 21px;
    font-style: normal;
    line-height: 60px;
    color: #FFFFFF;

}
.footer_company {
    /* border: 2px solid blue; */
    margin-left: 20px;

}
.footer_region {
    /* border: 2px solid blue; */
    
}

.footer_help {
    text-align: left;
    /* border: 2px solid blue; */
     width: 60px;
}
    .about_trafalgar {
        width: 335px;
        height: 84px;
        margin-left: 40px;
        display: inline;
    /* border: 2px solid brown; */
    font-style: normal;
color: #FFFFFF;

    }
    .about_trafalgar_container {
        width: 90%;;
       display: flex;
        justify-content: space-between;
    /* border: 2px solid blue; */
    margin-bottom: 113px;

    }

    .company_child {
        text-align: left;
    /* border: 2px solid blue; */
    font-style: normal;
    color: #FFFFFF;
    

    }

    .region_child {
        font-style: normal;
        color: #FFFFFF;
    }
    .help_child {
        text-align: left;
        font-style: normal;
        color: #FFFFFF;
    }

    .f_logo_T {
        background:#FFFFFF;
        padding-top: 6px;
        width: 40px;
        text-align: center;
        color: #458FF6;
    font-weight:bolder;
    font-size: 26px;
    line-height: 33px;
     border-radius: 40px 40px 40px 40px
    }
    .f_left_nav {
        margin-left: 6px;
        margin-top: 5px;
        padding-top: 1px;
        font-family: 'mulish'
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
} 